/* Custom color theme properties */
:root {
  --f7-theme-color: #698e66;
  --f7-theme-color-rgb: 105, 142, 102;
  --f7-theme-color-shade: #577655;
  --f7-theme-color-tint: #7fa17c;
}

/* Your app custom styles here */